### Byte-compiled / optimized / DLL files. ###
__pycache__/
*.py[cod]

### Unit test / coverage reports. ###
htmlcov/
.coverage
.cache
coverage.xml
.pytest_cache

### Mypy. ###
.mypy_cache/

# Env vars.
.env
